<% company_name = @company.name %>
<div class="px-5 mx-auto" data-controller="companies" data-id=<%= @company.id %>>
  <div class="header">
    <h5 class="bold" data-target="companies.nameOutput"><%= company_name %></h5>
    <p><span class="pink">Unreviewed</span> | Created  <%= format_date(@company.created_at) %> |
      <span data-target="companies.nameOutput"><%= company_name %></span> was updated by Brainx</p>
  </div>
  <div class="card flex-row flex-wrap border-0 pt-3">
    <div class="logo">
      <i class="las la-6x la-plus-circle"></i>
    </div>
    <div class="card-block px-2">
      <h6 class="card-text">COMPANY</h6>
      <input id="company-name-input" type="text" value="<%= company_name %>" class="border-0 card-title h1 pt-2" data-original-value="<%= company_name %>" data-action="companies#onChange" data-target="companies.name">
    </div>
    <div class="w-100"></div>
  </div>
</div>
<%= link_to 'Back', companies_path %>
<script>
  $('[data-controller]').on('keydown', (event) => {
    if (event.key === "Escape") {
      $("input[id^='company-']").each((_index, element) => {
        element.value = element.dataset.originalValue;
        element.blur();
      });
    }
  });
</script>